#content#contacts

  %h4.typeface-js{:style=>"font-family: klavika;"} Contacts

  %p.contact_emails 
    General Inquires 
    %a.email{:href=>"mailto:general@gov20a.com"} general@gov20a.com

  %p.contact_emails 
    Registration Questions 
    %a.email{:href=>"mailto:sales@gov20a.com"} sales@gov20a.com
  
  %p.contact_emails
    Programming 
    %a.email{:href=>"mailto:programming@gov20a.com"} Sid Burgess

  %p.contact_emails 
    Sponsorship and Partnerships 
    %a.email{:href=>"mailto:sponsorship@gov20a.com"} Derrick Parkhurst

  .spacer
  
  %h4.typeface-js{:style=>"font-family: klavika;"} Organizational Committee

  .member_box_left
    %img{:src=>"/images/bio_photo_sidburgess.jpg",:class=>"large_photo"}
    %h2 Sid Burgess
    %p.smaller 
      %a{:href=>"http://sidburgess.com"} http://sidburgess.com/
      %a{:href=>"http://twitter.com/sidburgess"} @sidburgess

  .member_box_left
    %img{:src=>"/images/bio_photo_davidglover.jpg",:class=>"large_photo"}
    %h2 David Glover
    %p.smaller 
      %a{:href=>"http://flyinghumans.com"} Flying Humans, LLC 
      %a{:href=>"http://twitter.com/davidglover"} @davidglover

  .member_box_left
    %img{:src=>"/images/bio_photo_derrickparkhurst.jpg",:class=>"large_photo"}
    %h2 Derrick Parkhurst
    %p.smaller 
      %a{:href=>"http://thirtysixthspan.com"} Thirty Sixth Span Internet Technologies
      %a{:href=>"http://twitter.com/thirtysixthspan"} @thirtysixthspan

  .clear.spacer
