%ul#themes
  %li 
    %a{:href=>"theme/detail/Social_Media"}
      %img{:src=>'stylesheets/i/social-media.jpg'}
  %li 
    %a{:href=>"theme/detail/Crowd_Sourcing"}
      %img{:src=>'stylesheets/i/crowd-sourcing.jpg'}
  %li 
    %a{:href=>"theme/detail/Citizen_Participation"}
      %img{:src=>'stylesheets/i/citizen-participation.jpg'}
    
%p.h2.typeface-js{:style=>"font-family: klavika;"} Technology Applied to Improve Government

%p Gov 2.0 stand for Government 2.0, the application of increased connectivity and new technologies to better help government achieve its goals by being transparent, participatory and collaborative. The benefits of this approach include increased efficiency, improved services, greater accessibility of public services, as well as more accountability.

%p The Gov 2.0a conference is focused on applications of technology to government problems. The conference will be a forum to learn about successful Gov 2.0 applications through case studies, to learn about best practices for Gov 2.0 applications, and to network with other professionals from city and state organizations, community groups, non-profits and the private sector who share interest in the application of technology to improve the functioning of our government.

%p The Gov 2.0a conference will be a two day event held May 6th and 7th at the Cox Convention Center in Oklahoma City. The conference will host talks, training sessions and networking sessions.