#content#schedule

  .spacer 

  .grid_4
    .spacer
  .grid_7
    .schedule_block
      .schedule_block_header
      .schedule_block_body
        .white_header THURSDAY, MAY 6th
      .schedule_block_bg

        The final line-up of speakers is still to be determined.
        .spacer.clear
        .spacer.clear

  .spacer 
  .spacer 

  .grid_4
    .spacer
  .grid_7
    .schedule_block
      .schedule_block_header
      .schedule_block_body
        .white_header Friday, MAY 7th
      .schedule_block_bg

        The final line-up of speakers is still to be determined.
        .spacer.clear
        .spacer.clear
 

	