#content#sponsorship

  %h4.typeface-js{:style=>"font-family: klavika;"} Sponsorship and Partnership

  %p We are excited to launch the GOV 2.0a Conference in 2010. Our goal is to create a unique conference experience focused on the applications of technology to government problems. We expect to host 200 professionals from city and state organizations, community groups, non-profits and the private sector.

  %img{:src=>"http://cache.marriott.com/propertyimages/o/okcbr/phototour/okcbr_phototour07.jpg", :align=>'right'}

  %p We believe that sponsors and partners are an important part of any successful and sustainable conference. We desire to involve sponsors in our event in ways that are mutually and maximally beneficial for both sponsors and attendees.  

  %p 
    %span{:class=>"emphasis"} There is no better way to communicate you message than to interact one-on-one with the community.
    An intimate event like this is the ideal opportunity to make a powerful impact on a targeted audience.  

  %p Please direct all sponsorship inquires to our <a href="mailto:sponsorship@gov20a.com">sponsorship coordinator, Derrick Parkhurst</a>. An event prospectus with tiered sponsorship opportunities is available upon request. However, we welcome and encourage inquires about unique or different ways in which we might involve sponsors in our event.

  .spacer.clear
