%hr

%a{:href=>"http://gov20a.com"}
  <img align="right" style="border:0px" src="http://gov20a.com/images/rdrc_logo_web.png">
%p
  Gov 2.0a Conference<br />
  May 6-7th, 2010<br />
  Cox Convention Center<br />
  Oklahoma City, Oklahoma<br />
  <a href="http://gov20a.com">http://gov20a.com</a><br />
  <a href="mailto:registration@gov20a.com">registration@gov20a.com</a><br />
</p>


