%p
  = @purchase.name
  = ","

%p Thank you very much for your purchase from the Gov 2.0a Conference.

%p We are currently processing your payment. Payment processing may take as long as 1-2 days.

%p Once your payment is processed you will receive an email with your completed purchase receipt. If you do not, please contact <a href="mailto:registration@gov20a.com">support</a>.  

%p If you have any questions about this notice, please do not hesitate to contact <a href="mailto:support@gov20a.com">Gov 2.0a Conference registration support services</a>.

= render :partial=>'email_footer'


